<?php include_once("header.php");?>
	<div style="margin-top:55px;"></div>
	<div id="hot" class="box auto">
		<div class="title">高校</div>
		<div class="classList">
			<div class="childBox cqie">
				<h1><a href="./model/list.php">&nbsp;&nbsp;重庆工程学院</a> </h1><br>&nbsp;&nbsp;尽责 守信 求真 创新<br />
			</div>
			<div class="childBox cqu">
				<h1><a href="./model/list.php">&nbsp;&nbsp;重庆大学</a> </h1><br>&nbsp;&nbsp;耐劳苦 尚俭朴 勤学业 爱国家<br />
			</div>
			<div class="childBox ctbu">
				<h2><a href="./model/list.php">&nbsp;&nbsp;重庆工商大学</a> </h1><br>&nbsp;&nbsp;厚德博学 求是创新<br />
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>

	<div id="hot" class="auto">
		<div class="title">时政</div>
		<ul class="newslist">
			<!-- 20条 -->
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">美国商务部：本周五起对33家中国机构实行限制措施</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">美国示威者要打劫芝加哥唐人街？当地华人的做法堪称教科书</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">美国交通部：6月16日起，暂停所有中国客运航班往返美国</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">海口一大厦爆炸致1死10伤 初判为中央空调泄漏所致</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">广西一残联理事长全家都有“残疾”？ 当事人承认：为钻政策空子</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">美股震荡上行，三大股指悉数转涨！京东一度涨超4%创新高</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">当地教育局承认学校与钟美美接触：希望引导孩子拍正能量作品</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">湖南邵阳警方通报：一男子因感情纠纷杀害四人，已被抓获</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">场面震撼！数以千计抗议者趴倒一片 模仿黑人男子生前最后姿势</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">2分钟看各界名人为弗洛伊德发声：不要再把有色人种当人渣了</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">美媒这样总结特朗普的五月：黯淡、恼火、悲伤</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">蓬佩奥称美方已致函联合国抗议中国在南海的主权声索，外交部回应</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">Uzi退役登顶微博热搜TOP 1 国内电竞圈各界人士送上祝福</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">河南修改计划生育条例：提倡一对夫妻生育两个子女</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">“不可能打工男子”周立齐公开道歉：想照顾父母 做普通人</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">女大学生遭裸照威胁自杀案：前男友以寻衅滋事罪被公诉</a></li>	
		</ul>
		<div style="clear:both;"></div>
	</div>

	<div id="hot" class="auto">
		<div class="title">
			财经
		</div>
		<ul class="newslist">
			<!-- 20条 -->
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">27地设摊贩规范点 专家：放开地摊经济不等于放开责任</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">上海市鼓励消费者用新能源汽车，年内增4万张中心城区非运营客车牌照</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">反思陈春花现象：商业大师为何没有专业判断力？</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">全面脱贫在即，为何仍有“6亿人每月收入1000元”？</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">多地银行陆续启动“人才贷” 金融支持中小微企业再多一渠道</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">A股午间特供：沪指弱势震荡 一季度业绩预增股表现抢眼</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">新三板转板制度落地，精选层中签率100％！存在套利空间？</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">海外留学生太难了！一张机票炒到十万八万，这类机场应火线加开国际航班</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">杨元庆：联想已投资5G多年 面对风口我们不需要跟随谁</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">六大行薪酬比较：交行34万最高，工行29万，农行27万最“穷”？</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">地摊神车？股价暴涨的五菱汽车营收连续三年下滑，利润去年现首亏</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">港股开盘前瞻：全球市场普涨，牛市来了吗</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">金嗓子掌门人被限制出境！公司曾欠5千万广告费，股价跌近七成</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">华尔街点评美股：经济数据好转，最糟糕的时期已经过去了吗？</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">突破9050亿！王兴正式超越雷军，美团的泡沫到底有多大？</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">【环球市场】欧美股市延续上涨节奏 黄金一度跌穿关键支撑位</a></li>	
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div id="hot" class="box auto">
		<div class="title">
			娱乐
		</div>
		<ul class="newslist">
			<!-- 20条 -->
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">网曝仝卓母亲是煤老板 名下5处房产被拍卖成老赖</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">媒体曝赵本山38岁弟子因心梗去世，同组演员证实，出殡场面曝光</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">被热搜误解的内地第一女团</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">周扬青抱狗狗拍美照火辣身材抢镜，无P图颜值耐打，分手后依旧自信</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">董子健零点晒妻子女儿背影照，为孙怡庆生：祝她老公越来越帅</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">王琳擦镜子突然擦出雪姨把自己吓一跳，对镜头勾手指仿佛自带bgm</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">迪丽热巴生日直播做扎染，竟然是用洗脚盆，成功后的表情超可爱</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">吃瓜日报丨脱口秀演员伙同女友吸毒被捕？郑恺刚领证老婆就快生了？</a></li>
			<li><a href="./model/list.php">[要闻]</a> <a href="./model/list.php">郑恺夫妇现身妇产医院再被拍，正面镜头下苗苗这大肚子是藏不住了</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">杨幂最新路透：斗篷上衣双麻花辫，迈大长腿回眸打招呼画面超甜</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">叶一茜自曝想生第三胎，看到婴儿用品就想生，李艾催道那就来吧</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">从周立波到卡姆：脱口秀之王塌楼史</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">金嗓子掌门人被限制出境！公司曾欠5千万广告费，股价跌近七成</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">舒肤佳广告火了！《陈情令》“纸片人”意外出镜，王一博反应太真实</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">李荣浩连续6年零点为杨丞琳庆生，甜喊“老婆”，杨丞琳害羞回应</a></li>
			<li><a href="./model/list.php">[今日话题]</a> <a href="./model/list.php">摆过地摊的明星，王菲是玩心大发，梁家辉和他因生活所迫</a></li>	
		</ul>
			<div style="clear:both;"></div>
		</div>
	</div>
	
<?php include_once("footer.php");?>